<div class="panel-panel-primary" id="presentations">
    <div class="panel-heading" align="center"><h3>Presentation</h3></div>
    <p class="p-pres">Bienvenue à Ouagadougou</p>
    <p>Seminaires de formations sur les outils de nouvelle technologies</p>
</div>
<div class="panel panel-primary" id="parcour">
    <div class="panel-heading" aligne="center"><h2>Parcours</h2></div>
   <table class="table table-striped" > 
       <thead>
       <tr><th>Date</th><th>lieu</th><th>Diplome</th>
       </tr></thead>
       <tbody><tr>
       <td>2007</td>
       <td>humanite</td> 
       <td>BAC</td></tr>
       <tr>
           <td>2010</td>
           <td>IAI-NIGER</td> 
           <td>Analyste Programmeur</td>  
       </tr>
       <tr>
           <td>2012</td>
           <td>IBAM-OUAGADOUGOU</td> 
           <td>MIAGE</td>  
       </tr>
       </tbody>
        </table>
</div>

