<div class= "panel panel-primary" id="experiences">
    <div class="panel-heading" align="center"><span><h2>Experiences</h2></span></div>
<div>
    <table class="table table-striped" > 
        <tbody>
            <tr>
        <tr><td>2013-2014: stage au sein du service process</td></tr>
        <tr> <td>2014-2018:Partner Help Desk au sein du service scm</td></tr>
        <tr><td>2018-2019: Assistance RSI</td></tr>
        <tr><td>2019 à nos jours: equipe Genie logiciel</td></tr>
    </tbody></table>
</div>