<div class ="container">
  <div class="panel panel-primary">
    <div class="panel-handing" align="center"> Curruculum Vitae<p></p><span>Amadou Bagouma Harouna</span></div></div>
     
      <div class="col-sm-3">
          <img class="imf-fluid rounded-circle" src="/assets/moi.jpeg" alt="" width="200" height="200" >
        </div>
     </div>
     <div class="panel panel-primary" id="Contact">
      <div class="panel-handing" align="center"><h3>Contact</h3></div>
      <ul>
          <li>
              <a href="https://www.jhipster.tech/" target="-blank" rel="noopen">ma page</a>
          </li>
          <li>telephone:<a href="tel 0022797777682">97777682</a> </li>
          <li>test1</li>
      </ul>
      <div>
          <ol>
              <li>
                  Mon adress:&nbsp;<a href="mailto:bagnasrine@gmail.com">messagerie</a>
              </li>
              <li>
                 Mon adress:&nbsp;<a href="mailto:">guide</a>
             </li>
          </ol>
      </div>
      <app-presentations></app-presentations>
      <app-experiences></app-experiences>
      <app-formations></app-formations>
      <app-formulaires></app-formulaires>
  </div>


