<div class="panel panel-primary" id="formulaire" >
    <div class="panel-heading" align="center"> <h2>formulaire</h2></div>
     
<div class="form-group">
 <label class="control-label">Nom: </label><input class="form-control" type= "text" name="nom" maxlength="20">
</div><p></p>
<div class="form-group">
 <label class="control-label"> Prenom:</label> <input class="form-control" type="text" name="Prenom" maxlength="20">
</div><p></p>
<div class ="form-group">
 <label class="control-label">  Date:</label> <input class="form-control" type= "date" name="datei" id="datei">
</div><p></p>
<div class ="form-group">
 <label class="control-label"> Sexe:</label> <select class="form-control" name="sexe" id="sexe">
     <option value="M">Masculin</option>
     <option value="F">Feminin</option>
 </select>
</div>
<div class= "form-group">
 <label class="control-label"> votre message:</label> <textarea class="form-control"  name="message" id="message" cols="50">veuillez saisir un commentaire</textarea>
</div>

<div class="form-group">
 <label class="control-label"> piece jointe:</label> <input class="form-control" type="file" name="piece" id="pieces">
</div>
<div class="container">

 <button type="submit" class="btn btn-primary">Enregistrer</button>
 <button type="reset" class="btn btn-danger">Annuler</button>
     
</div>

</div>
